<?xml version="1.0"?>
<config>
    <modules>
		<Yarieldis_Holamundo>
			<version>0.1.0</version>
		</Yarieldis_Holamundo>
    </modules>
    <frontend>
        <routers>
            <holamundo>
                <use>standard</use>
                <args>
                    <module>Yarieldis_Holamundo</module>
                    <frontName>holamundo</frontName>
                </args>
            </holamundo>
        </routers>
		<layout>
            <updates>
                <holamundo>
                    <file>holamundo.xml</file>
                </holamundo>
            </updates>
        </layout>
    </frontend>
	<global>
        <models>
            <holamundo>
                <class>Yarieldis_Holamundo_Model</class>
            </holamundo>
        </models>
		<blocks>
            <holamundo>
                <class>Yarieldis_Holamundo_Block</class>
            </holamundo>
        </blocks>
	</global>
</config>
